{
  "type": "postgres",
  "host": "127.0.0.1",
  "port": 5432,
  "username": "postgres",
  "password": "postgres",
  "database": "glific_backup",
  "entities": ["dist/**/*.entity{.ts,.js}"],
  "synchronize": true
}
